<h2> Контакты </h2>
<form action="/contacts" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ваше email</label>
    <input name="email" type="text" class="form-control" placeholder="Введите ваш email">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ваш текст</label>
    <textarea name="text" class="form-control" placeholder="Введите текст"> </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>